@model ProyectoFinalCarritoCompra.Models.Marca

@{
    ViewBag.Title = "Details";
}
<div class="row">
    @Html.Partial("_MantenedoresPartial")
    <div class="col my-2">
        <div class="card" style="border-radius: 15px; background-color: #1d0b41; color: aliceblue;">

            <div class="card-body">
                <div class="card-body">
                    <h2>Detalles de la marca</h2>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NombreMarca)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NombreMarca)
                        </dd>

                    </dl>
                </div>
                <div class="col-md-offset-2 col-md-10 my-2 py-2">
                    <a href="@Url.Action("Edit", "Marca", new { id = Model.Id })" class="btn btn-outline-light btn-lg float-end" role="button">Editar</a>
                    <a href="@Url.Action("Index","Marca")" class="btn btn-outline-light btn-lg" role="button">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>