@model IEnumerable<ProyectoFinalCarritoCompra.Models.Marca>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Partial("_MantenedoresPartial")
    <div class="col">
        <div class="row mt-4 mb-1">
            <div class="col-10">
                <h2>Marcas</h2>
            </div>
            <div class="col-2 text-center">
                <a href="@Url.Action("Create","Marca")" class="btn btn-outline-primary float-end" role="button">Nuevo</a>
            </div>
        </div>
        
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMarca)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMarca)
                    </td>
                    <td>
                        <div class='d-grid gap-2 d-md-block text-center'>
                            <a href="@Url.Action("Edit", "Marca", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Editar</a>
                            <a href="@Url.Action("Details", "Marca", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Detalles</a>
                            <a href="@Url.Action("Delete", "Marca", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>