@model ProyectoFinalCarritoCompra.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña?";
}

<main aria-labelledby="title">
    <div class="row justify-content-center pt-3">
        <div class="col-lg-6 col-sm-12">
            <div class="card" style="border-radius: 15px; background-color: #1d0b41; color: aliceblue;">
                <div class="card-body p-5">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2 class="text-center" id="title">@ViewBag.Title.</h2>
                        <h4 class="text-center">Especifique su correo electrónico.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row justify-content-center">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-8 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="offset-md-2 col-md-10">
                                <input type="submit" class="btn btn-outline-light" value="Vínculo de correo electrónico" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
