@model IEnumerable<ProyectoFinalCarritoCompra.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Partial("_MantenedoresPartial")
    <div class="col">
        <div class="row justify-content-end my-2">
            <div class="col-2 text-center">
                <a href="@Url.Action("Create","Categoria")" class="btn btn-outline-primary" role="button">Nuevo</a>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCat)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCat)
                    </td>
                    <td>
                        <div class='d-grid gap-2 d-md-block text-center'>
                            <a href="@Url.Action("Edit", "Categoria", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Editar</a>
                            <a href="@Url.Action("Details", "Categoria", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Detalles</a>
                            <a href="@Url.Action("Delete", "Categoria", new { id = item.Id })" style="width: 80px;" class="btn btn-outline-dark" role="button">Borrar</a>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>