@model ProyectoFinalCarritoCompra.Models.Producto

@{
    ViewBag.Title = "DetalleProducto";
}
<div class="row">
    <div class="col my-2">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="@Url.Content("~/Content/imgs/prod/" + Model.Imagen)" />
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">
                            <h2>Detalles del producto</h2>
                            <hr />
                            <dl class="dl-horizontal">
                                <dd>
                                    @Html.DisplayFor(model => model.Categoria.NombreCat)
                                </dd>
                            </dl>
                        </div>
                        <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.Nombre)</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through"></span>
                            <span>@Model.Precio.ToString("C")</span>
                            <dl class="dl-horizontal my-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Stock)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Stock)
                                </dd>
                            </dl>
                        </div>
                        <p class="lead">@Html.DisplayFor(model => model.Descripcion)</p>
                        <div class="col-md-offset-2 col-md-10 my-2 py-2">
                            <a href="@Url.Action("Productos","Home")" class="btn btn-outline-dark btn-lg" role="button">Volver</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>
</div>